@import "tailwindcss";

@source "../../views";
@source "../../helpers";
@source "../../javascript";

@import "./pagy.css";

:not(.selectize-input) {
  &>input[type=text], &>input[type=email], &>input[type=password], &>select, .selectize-input {
    @apply border border-gray-200 shadow-none rounded px-2 h-9;
  }

  &>input[type=submit] {
    @apply border;
  }
}
