<div class="w-screen h-screen overflow-scroll">
  <div class="tree <%= "flipped" if @tree.flipped? %>">
    <ul>
      <%= render partial: "practitioner_node", locals: { tree_node: @tree.json.first } %>
    </ul>
  </div>
</div>
