<div class="tree">
  <ul>
    <li>
      <span><a href="#">Ng Mui</a></span>
      <ul>
        <li>
          <span><a href="#">Yim Wing Chun</a></span>
          <ul>
            <li>
              <span><a href="#">Leung Bok Cho</a></span>
              <ul>
                <li>
                  <span><a href="#">Leung Lan Kwai</a></span>
                  <ul>
                    <li>
                      <span><a href="#">Wong Wah Po</a></span>
                      <ul>
                        <li>
                          <span><a href="#">Leung Yee Tai</a></span>
                          <ul>
                            <li>
                              <span><a href="#">Leung Jan</a></span>
                              <ul>
                                <li>
                                  <span><a href="#">Chan Wah Shun</a></span>
                                  <ul>
                                    <li>
                                      <span><a href="#">Yip Man</a></span>
                                      <ul>
                                        <li>
                                          <span><a href="#">Chu Shong Tin</a></span>
                                        </li>

                                      </ul>
                                    </li>

                                  </ul>
                                </li>
                                <li>
                                  <span><a href="#">Leung Bik</a></span>
                                  <ul class="loop">

                                  </ul>
                                </li>

                              </ul>
                            </li>

                          </ul>
                        </li>
                        <li class="skip">
                          <span><a href="#">Leung Jan</a></span>
                          <ul class="loop">

                          </ul>
                        </li>
                        <li class="skip skip-level-2">
                          <span><a href="#">Leung Bik</a></span>
                          <ul class="loop">

                          </ul>
                        </li>

                      </ul>
                    </li>

                  </ul>
                </li>

              </ul>
            </li>

          </ul>
        </li>

      </ul>
    </li>

  </ul>
</div>
