
.pagy.series-nav {
  @apply flex space-x-2;
}

.pagy.series-nav a {
  @apply block rounded-lg px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
  &:hover {
    @apply bg-gray-300;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy.series-nav a[aria-disabled="true"] {
  @apply text-gray-400 cursor-default;
  &:hover {
    @apply text-gray-400 bg-gray-200;
  }
  &:active {
    @apply text-gray-400 bg-gray-200;
  }
}

.pagy.series-nav a[aria-current="page"] {
  @apply text-white cursor-default bg-gray-400;
  &:hover {
    @apply text-white bg-gray-400;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}
